{% extends 'layout.html' %}

{% block body %}
<font color="white">
<div style="padding: 60px">
    <h1><b>About Me</b></h1>
    <h2>Manmeet S. Sethi</h2>
    <p class="lead">Connect with me here:<br></p>
    <p class="lead">Email: ms5323@bennett.edu.in</p>
</div>
</font>
<br>
<br>
    <div style="text-align: center;">


        <h4> <font color="white">

                Made with</font> <font color="#FF5733"> Pride </font> <font color="white"> in </font> <font color="#55C90F"> India </font></h4>
    <hr>
  </div>

{% endblock %}